In [15]:
import pandas as pd
import numpy as np

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="latihandatabase1"
)

In [17]:
sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM Alternatif
                               ''', mydb)

In [18]:
df_k = pd.DataFrame(sql_query)
df_k

  Alternatif bobot    peran
0      Harga   40%     cost
1  Jangkauan   20%  benefit
2  Kecepatan   40%  benefit
3     rating   20%  benefit

In [10]:
df_a = pd.read_csv('D:\Project\Sistem Pendukung Keputusan\dataset_prototype\kriteria.csv')
df_a

  Alternatif bobot    peran
0      Harga   40%     cost
1  Jangkauan   20%  benefit
2  Kecepatan   40%  benefit

# Normalsasi

In [9]:
df_a['Harga(rb)'] = (df_a['Harga(rb)'].min()/(df_a['Harga(rb)']))
df_a['Jangkauan(m)'] = (df_a['Jangkauan(m)'])/(df_a['Jangkauan(m)'].max())
df_a['Kecepatan(mbps)'] = (df_a['Kecepatan(mbps)'])/(df_a['Kecepatan(mbps)'].max())

KeyError: 'Harga(rb)'

In [ ]:
df_a

    ALTERNATIF  Harga(rb)  Jangkauan(m)  Kecepatan(mbps)
0     Indihome   0.890625         1.000         0.235294
1       Biznet   0.760000         0.500         1.000000
2  First Media   1.000000         0.875         0.117647

# Perangkingan

In [ ]:
df_k['bobot'] = df_k['bobot'].str.rstrip('%').astype('float') / 100.0

In [ ]:
rank = pd.DataFrame.from_dict(df_a['ALTERNATIF'])
rank['Total'] = (df_a['Harga(rb)']*df_k['bobot'][0])+(df_a['Jangkauan(m)']*df_k['bobot'][1])+(df_a['Kecepatan(mbps)']*df_k['bobot'][2])
rank['Rank'] = rank['Total'].rank(ascending=False)
rank

    ALTERNATIF     Total  Rank
0     Indihome  0.650368   2.0
1       Biznet  0.804000   1.0
2  First Media  0.622059   3.0

In [7]:
rank.to_sql("Rank",mydb)

NameError: name 'rank' is not defined